* {
    font-family: 'Poppins', sans-serif;
}

body {
    color: #444444;
}

:root {
    --mainColor: #5846f9;
}

.main-color {
    color: var(--mainColor);
}

.bg-color {
    background-color: var(--mainColor);
}

.bg-section {
    background-color: #f9f8ff;
}

.header {
    background: rgba(108,55,229,0.6);
    padding: 12px 0;
    z-index: 1000;
}

section  .title h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 60px;
    height: 3px;
    background-color: var(--mainColor);
}
.btns{
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    font-weight: 500;

}

 .btns:hover{
    background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}
/* #######  Start Home   ####### */
.hero {
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%),url(Techie/assets/img/hero-bg.jpg) center no-repeat;
    background-size: cover;
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 2rem;
}

.navbar ul li  a{
    color: rgba(225,225,255,.7);
    font-size: 15px;
    transition: all .4s;
}

.navbar ul li {
    position: relative;
}
.navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: .5rem;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
}

.navbar ul li:hover a::before {
    width: 80%;
}

.navbar ul li a:hover {
    color: #fff;
}

.navbar ul li:first-child a {
    color: #fff;
}

.text-gray {
    color: rgba(225,225,255,.8);
}

.border-gray {
    border-color: rgba(225,225,255,.7);
}

.hero button {
    transition: all .5s;
}

 .hero button:hover {
    background-color: #fff;
    color: var(--mainColor) !important ;
 }

.animated {
    animation: animate 1s ease-in-out infinite alternate;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}
/* ####### end Home  ####### */

/* ####### start Home  ####### */


.about  h3 {
    font-weight: 600;
    font-size: 32px;
    color: #2c4964;
}



/* ####### end About  ####### */

/* ####### Start count  ####### */

.count {
    background: linear-gradient(90deg , rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url(Techie/assets/img/counts-bg.png) no-repeat center ;
    padding: 80px 0 60px ;
}

/* ####### end count  ####### */

/* ####### Start Services  ####### */

.services  .icon-service svg path  {
    transition: all .4s ease-in-out;
}
.service-card  {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

 .service-card:hover {
    border-color: #fff;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
    transform: scale(1.1);
}

.icon-service {
    width: 100px;
    height: 100px;
}

.iconbox-blue   .icon-service i {
    color:  #47aeff;
}

.iconbox-blue:hover   .icon-service svg path {
    fill:  #47aeff;
}
.iconbox-blue:hover   .icon-service i {
    color: #fff;
}

  .iconbox-orange .icon-service  i {
    color: #ffa76e;
}

.iconbox-orange:hover   .icon-service svg path {
    fill: #ffa76e;
}
.iconbox-orange:hover   .icon-service i {
    color: #fff;
}

  .iconbox-pink  .icon-service i {
    color: #e80368;
}

.iconbox-pink:hover   .icon-service svg path {
    fill:  #e80368;;
}
.iconbox-pink:hover   .icon-service i {
    color: #fff;
}


  .iconbox-yellow .icon-service  i {
    color: #ffbb2c;
}

.iconbox-yellow:hover   .icon-service svg path {
    fill:  #ffbb2c;
}
.iconbox-yellow:hover   .icon-service i {
    color: #fff;
}

 .iconbox-oranged .icon-service  i {
    color: #ff5828;;
}

.iconbox-oranged:hover .icon-service svg path {
    fill:  #ff5828;
}
.iconbox-oranged:hover .icon-service i {
    color: #fff;
}

 .iconbox-teal   .icon-service i {
    color: #11dbcf;
}

.iconbox-teal:hover  .icon-service svg path {
    fill:  #11dbcf;
}
.iconbox-teal:hover   .icon-service i {
    color: #fff;
}
.service-card h4 {
    color: #2c4964;
    font-weight: 600;
    font-size: 22px;
}

.service-card p {
    font-size: 14px;
}
/* ####### End Services  ####### */


/* ####### Start Portfolio  ####### */
.portfolio-item {
    margin-bottom: 30px;
}
.portfolio .nav-link {
    color: #444444;
    font-size: 14px;
    font-weight: 500;
}
.portfolio .nav-link.active {
    color: #fff;
    background: #5846f9;
}

.portfolio-overlay {
    background: rgba(88, 70, 249, 0.8);
    top: 30px;
    bottom: 30px;
    right: 30px;
    left: 30px;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.image-wrap:hover .portfolio-overlay {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 1;
}
.image-wrap .portfolio-overlay  .portfolio-info {
    position: absolute;
    top: 10%;
    opacity: 0;
    transition: all ease-in-out .4s ;

}
.image-wrap:hover .portfolio-overlay .portfolio-info  {
    top: calc(50% - 48px);
    opacity: 1;
}
.portfolio-overlay .portfolio-info h4 {
    font-size: 20px;
    font-weight: 600;
}
.portfolio-overlay .portfolio-info p {
    font-size: 14px;
}

.portfolio-overlay .portfolio-link i {
    font-size: 22px;
    color: rgba(225, 225, 225,.6);
    display: inline-block;
    margin:0 4px;
}

.image-wrap .portfolio-overlay  .portfolio-link {
    position: absolute;
    bottom: 10%;
    opacity: 0;
    transition: all ease-in-out .4s ;

}
.image-wrap:hover .portfolio-overlay .portfolio-link  {
    bottom: calc(50% - 50px);
    opacity: 1;
}
/* ####### End Portfolio  ####### */


/* ####### start price card  ####### */

.card-header {
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #2c4964;
    background: #f8f8f8;
}

.price-item {
    font-size: 36px;
    position: relative;
    
}
.price .card {
    box-shadow: 0 2px 15px 0 rgb(0 0 0 /10%);
}
.price-item span {
    font-size: 15px;
    color: #bababa;
    font-weight: 300;
}
.price ul li {
    font-size: 14px;
    padding-bottom: 16px;
}
.ultmate {
    overflow: hidden;
}

.ultmate .advance {
    position: absolute;
    top: 18px;
    right: -66px;
    background-color: var(--mainColor);
    transform: rotate(45deg);
    color: #fff;
    z-index: 1;
    width: 200px;
    padding: 1px 0 3px 0;
    font-size: 14px;
    font-weight: 300;
   
}

/* ####### Etart price card  ####### */

/* ####### Start FAQ  ####### */

.faq {
    background: linear-gradient(42deg, #5846f9 0%, #7b27d8 100%);
    color: #fff;
}
.accordion-button{
    color: #2c4964;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}


.accordion-button i {
    padding: 0 10px;
    font-size: 24px;
    color: var(--mainColor);
}

.accordion-collapse {
    color: #2c2c2c;
    font-size: 16px;
}
.accordion-body {
    padding-left: 65px;
    padding-top: 0;
}
/* ####### End FAQ  ####### */


  /* ####### Start Contact #######  */

.contact-info {
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 20px 0 30px 0;
}

.contact-info h3 {
    font-size: 20px;
    color: #2c4964;
    font-weight: 700;
    margin: 10px 0;
}
.contact-info p {
    font-size: 14px;
}

.contact form input {
    padding: 10px 15px;
    box-shadow: none;
}
.contact form {
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);

}
.contact form .send {
    outline: none ;
    border: none;
    padding: 10px 24px;
    background-color: var(--mainColor);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600px;
    margin-top: 20px;
}

.contact form .send:hover {
    background: #7b27d8;
}

  /* ####### End Contact #######  */

  /* ####### Start Footer #######  */

footer {
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%),url(Techie/assets/img/hero-bg.jpg) center no-repeat;

}

.footer-contact h3 {
    font-size: 28px;
    margin-bottom: 30px;
}
.footer-contact p {
    font-size: 15px;
}
.footer-contact div {
    margin-top: 30px;
}
.footer-top h4 {
    padding-bottom: 12px;
}
.footer-links ul li {
    font-size: 14px;
    color: rgba(225, 225, 225, .8);
    padding: 10px 0;
}
.footer-newsletter form {
    margin-top: 30px;
}
.footer-newsletter p {
    font-size: 15px;
}
.footer-newsletter form .subscribe {
    outline: none;
    border: none;
    background: rgba(123, 39, 216, 0.8);
    box-shadow: 0 2px 15px rgb(0  0 0 /10%);
    padding: 0 20px;
}

.footer-newsletter form .subscribe:hover {
    background: #5846f9;;
}

.footer-bottom {
    border-top: 1px solid #8577fb;
}
.footer-bottom p {
    font-size: 15px;
    font-weight: 300;
}
.social-icon a {
    background-color: rgba(225, 225, 225, .1);
    color: #fff;
    margin-right: 4px;
    display: inline-block;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    transition: all .4s;
}

.social-icon a:hover {
    background-color: rgba(225, 225, 225, .2);

}
  /* ####### End Footer #######  */
