* {
    font-family: 'Poppins', sans-serif;
}

body {
    color: #444444;
}

:root {
    --mainColor: #5846f9;
}

.main-color {
    color: var(--mainColor);
}

.bg-color {
    background-color: var(--mainColor);
}
/* #######  Start Home Section  ####### */
.hero {
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%),url(../img/hero-bg.jpg) center no-repeat;
    background-size: cover;
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 2rem;
}

.navbar ul li  a{
    color: rgba(225,225,255,.7);
    font-size: 15px;
    transition: all .4s;
}

.navbar ul li {
    position: relative;
}
.navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: .5rem;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
}

.navbar ul li:hover a::before {
    width: 80%;
}

.navbar ul li a:hover {
    color: #fff;
}

.navbar ul li:first-child a {
    color: #fff;
}

.text-gray {
    color: rgba(225,225,255,.8);
}

.border-gray {
    border-color: rgba(225,225,255,.7);
}

.hero button {
    transition: all .5s;
}

 .hero button:hover {
    background-color: #fff;
    color: var(--mainColor) !important ;
 }

.animated {
    animation: animate 1s ease-in-out infinite alternate;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}
/* ####### end Home Section ####### */

/* ####### start Home Section ####### */


.about  h3 {
    font-weight: 600;
    font-size: 32px;
    color: #2c4964;
}

.about .read-more{
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    font-weight: 500;

}

.about .read-more:hover{
    background: linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
}

/* ####### end About Section ####### */

/* ####### Start count Section ####### */


.count {
    background: linear-gradient(90deg , rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url(../img/counts-bg.png) no-repeat center ;
    padding: 80px 0 60px ;
}

/* ####### end count Section ####### */

/* ####### Start Services Section ####### */


.services .title h2 {
    position: relative;
}
.services .title h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 60px;
    height: 3px;
    background-color: var(--mainColor);
}

.services  .icon-service svg path  {
    transition: all .4s ease-in-out;
}
.service-card  {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
}

 .service-card:hover {
    border-color: #fff;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
    transform: scale(1.1);
}

.icon-service {
    width: 100px;
    height: 100px;
}

.iconbox-blue   .icon-service i {
    color:  #47aeff;
}

.iconbox-blue:hover   .icon-service svg path {
    fill:  #47aeff;
}
.iconbox-blue:hover   .icon-service i {
    color: #fff;
}

  .iconbox-orange .icon-service  i {
    color: #ffa76e;
}

.iconbox-orange:hover   .icon-service svg path {
    fill: #ffa76e;
}
.iconbox-orange:hover   .icon-service i {
    color: #fff;
}

  .iconbox-pink  .icon-service i {
    color: #e80368;
}

.iconbox-pink:hover   .icon-service svg path {
    fill:  #e80368;;
}
.iconbox-pink:hover   .icon-service i {
    color: #fff;
}


  .iconbox-yellow .icon-service  i {
    color: #ffbb2c;
}

.iconbox-yellow:hover   .icon-service svg path {
    fill:  #ffbb2c;
}
.iconbox-yellow:hover   .icon-service i {
    color: #fff;
}

 .iconbox-oranged .icon-service  i {
    color: #ff5828;;
}

.iconbox-oranged:hover .icon-service svg path {
    fill:  #ff5828;
}
.iconbox-oranged:hover .icon-service i {
    color: #fff;
}

 .iconbox-teal   .icon-service i {
    color: #11dbcf;
}

.iconbox-teal:hover  .icon-service svg path {
    fill:  #11dbcf;
}
.iconbox-teal:hover   .icon-service i {
    color: #fff;
}
.service-card h4 {
    color: #2c4964;
    font-weight: 600;
    font-size: 22px;
}

.service-card p {
    font-size: 14px;
}
/* ####### End Services Section ####### */

